h1 {
    font-family: Arial;
}
img {
    width: 50%;
}
h3 {
    font-family: Helvetica;
}
.text {
    background-color: rgb(190, 190, 190);
}
.footerinfo {
    color: white;
}
footer {
    background-color: black;
}
.info {
    text-align: center;
}